* {
  box-sizing: border-box;
  --background: #fffcbd;
  --primary: #eb1911;
  --secondary: #de760f;
  --text: #360606;
  --textOnPrimary: #ffe6f9;
  --shadow: black;
}

body {
  background-color: var(--background);
  color: var(--text);
}

h1,
h2,
h3,
h4 {
  font-family: "Special Elite", system-ui;
  font-weight: bold;
  font-style: normal;
  text-align: center;
}

h1,
h2,
h3,
h4,
p {
  width: 100%;
  padding: 0.5rem;
}

p {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 1rem;
}

section p {
  text-align: center;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.2rem;
}

img {
  border-radius: 9px;
  border: 3px dotted var(--primary);
  margin: 1rem;
  max-width: 20rem;
  max-height: 20rem;
}

section,
header {
  border-bottom: 1px solid var(--secondary);
}

article {
  background-clip: padding-box;
  border-top: 2px dotted var(--secondary);
  margin: 2rem;
  padding: 1rem 0;
}

button:focus,
button:hover,
a:focus,
a:hover,
video:focus,
video:hover {
  border: 3px solid var(--shadow);
  box-shadow: 0.5rem 0.5rem 0.2rem var(--primary);
}

/* -- Headern och det längst upp på sidan -- */

header {
  padding: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

header p {
  margin: 0.5rem 0rem;
  text-align: center;
}

header div {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
}

header nav {
  margin: 2rem;
  display: flex;
  flex-flow: column wrap;
  gap: 1rem;
  justify-content: center;
}

.button,
button {
  background-color: var(--primary);
  color: var(--textOnPrimary);
  text-align: center;
  text-decoration: none;
  border-radius: 20px;
  padding: 1rem;
  box-shadow: 0.2rem 0.2rem var(--shadow);
  border: 0;
}

/*  -- Fritid och början på privat -- */

.hobbies {
  display: flex;
  flex-direction: column;
  margin: 2rem 6rem;
}

.hobbies div {
  display: flex;
  flex-flow: row wrap;
  justify-content: end;
}

.hobbies ul {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
}

article.hobbies {
  display: grid;
  grid-template: 3rem 1fr / 1fr 1fr;
  max-width: max-content;
}

.hobbies h3 {
  grid-column: 1 / -1;
  text-align: center;
}

#songButton{
  width: 90%;
}

/* -- Allergier -- */
article.allergies {
  display: flex;
  flex-flow: row wrap;
  column-gap: 2rem;
  justify-content: space-evenly;
}

.allergies section {
  border: none;
  max-width: 20rem;
}

figure {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  max-width: 100%;
  margin: 0;
  order: 2;
}

figure img {
  order: 0;
}

article.favorites {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.favorites.dance {
  background: var(--shadow);
  color: var(--textOnPrimary);
  border-radius: 2rem;
}

.favorites table,
th,
td {
  padding: 0.5rem;
  border: 1px solid var(--primary);
  border-collapse: collapse;
  max-width: 40rem;
}

.favorites tr:nth-child(even) {
  background-color: var(--textOnPrimary);
  color: var(--text);
}

.favorites tr:nth-child(odd) {
  background-color: white;
  color: var(--text);
}

.dancingCat {
  order: 1;
}

/* --- Erfarenhet ---*/
.experience img{
  order:0
}


.experience p a {
  background: none;
  padding: 0;
}

/* -- Portfolio -- */

.portfolio article.project,
.experience article {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.portfolio .project p,
.experience article p {
  margin: 0.1rem;
  max-width: 40rem;
}

.project a{
  margin: 0.5rem;
}

.project div{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

/*  -- Footer och kontakt -- */
footer {
  background-color: var(--primary);
  color: var(--textOnPrimary);
  padding: 4rem;
}

footer h2 {
  margin: 0 0 2rem;
  border-bottom: 5px dotted var(--textOnPrimary);
}

footer a:focus,
footer a:hover {
  box-shadow: 0.5rem 0.5rem 0.2rem var(--shadow);
}

footer li {
  margin: 1rem;
  list-style: none;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

footer a {
  padding: 1.2rem;
  border-radius: 20px;
  background-color: var(--textOnPrimary);
  color: var(--text);
  width: fit-content;
  max-width: 100%;
  box-shadow: 1px 4px 5px var(--text);
}

ul {
  padding: 0;
  list-style-type: circle;
  list-style-position: inside;
}

@media (width<30rem) {
  article.hobbies {
    grid-template: 3rem 1fr / 1fr;
  }

  .hobbies {
    margin: 1rem 0;
  }

  .hobbies div {
    justify-content: center;
    align-items: center;
  }

  article {
    margin: 0.2rem;
  }

  video {
    max-width: 20rem;
  }

  footer{
    padding: 2rem;
  }
}
